{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'admin/index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/assignworkcode">
  <table width="244" height="267" border="1" class="table table-striped table-dark">
            <tr align="center"><td colspan="9"><h3 ALIGN="center"> <font color="WHITE">ADD WORKS</font></h3></td></tr>

    <tr>
      <td width="118">caretaker </td>
      <td width="110"><label>
          <select name="select">
              {% for i in val %}
                  <option value="{{ i.id }}">{{ i.fname }}{{ i.lname }}</option>
              {% endfor %}
          </select>
      </label></td>
    </tr>
    <tr>
      <td>work</td>
      <td><label>
      <input type="text" name="textfield2" required />
      </label></td>
    </tr>
    <tr>
      <td>details</td>
      <td><label>
      <input type="text" name="textfield3"  required />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="ADD" class="btn btn-primary"/>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
