{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{% extends 'admin/index.html' %}
{% block body %}
<body>


<form id="form1" name="form1" method="post" action="/assn_work_search">
  <table width="419" height="179" border="1" class="table table-striped table-dark">

  <tr align="center"><td colspan="9"><h3 ALIGN="center"> <font color="white">ASSIGN WORKS TO CARETAKER</font></h3>
       <tr>
      <td colspan="12">Date
        <label>
        <input type="date" name="textfield" required/>
        <input type="submit" name="Submit" value="Search" />
</label> <div align="right"> <a href="add_works#about" class="btn btn-primary">Add +</i> </a></div> </td>
{#</label><div align="right"><a href="/add_caretkr#about" class="btn btn-primary" ><i class="bi bi-person-fill-add"></i></a></div> </td>#}
    </tr>

{#      <div align="right"> <a href="add_works#about" class="btn btn-primary">ADD+ </a></div></tr>#}


    <tr>
      <td >CARETAKER  </td>
      <td >WORK</td>
      <td >DETAILS</td>
      <td >DATE</td>
      <td >STATUS</td>
<td></td>
        <td></td>

    </tr>
      {% for i in my_objects %}
    <tr>
      <td>&nbsp;{{ i.CARETAKERID.fname }}{{ i.CARETAKERID.lname }}</td>
      <td width="200px">{{ i.work }}</td>
      <td width="200px">&nbsp;{{ i.details}}</td>
      <td>&nbsp;{{ i.date}}</td>
      <td>&nbsp;{{ i.status}}</td>

{#       <td width="73" rowspan=5>#}
        <td><p><a href="/edit_works/{{ i.id }}#about" class="btn btn-outline-success" title="Edit"><i class="bi bi-pencil-square"></i></a></p></td></br>
      <td><a href="/deleteassign/{{ i.id }}" class="btn btn-outline-danger" title="Delete" onclick="return confirm('Do you want to delete')"><i class="bi bi-trash3-fill"></i></a></td>
    </tr>
      {% endfor %}

   <td colspan="13">

          <div class="pagination">
    <span class="step-links">
        {% if my_objects.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ my_objects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ my_objects.number }} of {{ my_objects.paginator.num_pages }}.
        </span>

        {% if my_objects.has_next %}
            <a href="?page={{ my_objects.next_page_number }}">next</a>
            <a href="?page={{ my_objects.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

{#    <tr>#}
{#      <td colspan="7"><a href="add_works#about" class="btn btn-primary">ADD+ </a></td>#}
{#      <td colspan="7"></td>#}
{#    </tr>#}
  </table>
</form>

</body>
{% endblock %}
{#</html>#}
