{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'admin/index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/sendreplycode">
  <table width="332" height="119" border="1" class="table table-striped table-dark">
    <tr>
      <td width="85" height="61">Reply</td>
      <td width="225"><label>
          <textarea name="textfield"  required></textarea>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="Submit" value="Send"  /></td>
    </tr>
  </table>
  <label></label>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
